// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Define fonts for body and headers
$body-font: 'Nunito', sans-serif;
$headers-font: "Nunito", "sans-serif";

$font-family-primary: 'Nunito', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-title: 900;

$font-size-body: 1rem;
$font-size-subtitle: 1.25rem;
$font-size-title: 2.5rem;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
